language: julia
os:
  - linux
#  - osx
julia:
  - 0.6
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
# uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("TranscodingStreams"); Pkg.test("TranscodingStreams"; coverage=true)'
after_success:
    # push coverage results to Codecov
    - if [ $TRAVIS_JULIA_VERSION != "nightly" ]; then julia -e 'cd(Pkg.dir("TranscodingStreams")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
    # deploy docs
    - julia -e 'Pkg.clone("https://github.com/bicycle1885/Documenter.jl.git"); Pkg.checkout("Documenter", "concise-design");'
    - julia -e 'cd(Pkg.dir("TranscodingStreams")); include(joinpath("docs", "make.jl"))'
